.header {
    background: url(/images/header-bg.png) no-repeat;
}

.header__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 20px;
}

.header__top {
    display: flex;
    align-items: center;
}

.btn__buy,
.card__btn-buy {
    color: $btn-color;
    background-color: $primary;
    border-radius: $btn-buy-radius;
    border: none;
    font-size: 16px;
    font-family: $btn-font;
    font-weight: $btn-weight;
    padding: $btn-buy-padding;
    width: 137px;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: .8;
        box-shadow: 0 3px 10px $primary;
    }
}

.btn__buy-container {
    margin: 0 auto;
}

.header__main {
    padding-top: 50px;
}

.header__title {
    color: $dark;
    font-family: source serif pro;
    font-weight: 600;
    font-size: 61px;
    max-width: 366px;
    margin: 0 auto 20px auto;
    text-align: center;
}

.title-orange {
    color: $primary;
}

.header__text {
    color: $secondary;
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    max-width: 326px;
    margin: 0 auto;
    text-align: center;
}

.header__img-border-container {
    display: flex;
    justify-content: center;
}

.header__img-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding-right: 22px;
}

.header__img {
    width: 300px;
    height: 270px;
    position: relative;
}

.header__img-shadow {
    width: 280px;
    height: 65px;
    border-radius: 200px/50px;
    position: absolute;
    margin-left: 21px;
    margin-top: 200px;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(37px);
}

.header__arrow-container {
    margin: auto 0;
    display: none;
}

.header__arrow {
    border: none;
    background: #FDEEE7;
    padding: 8px;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: .8;
        box-shadow: 0 0 12px $primary10;
    }
}

.header__arrow i {
    font-size: 50px;
}












.header__buy-card {
    max-width: 53.125rem;
    min-height: 125px;
    padding: 30px 5px;
    margin-top: 40px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__form {
    display: flex;
    flex-wrap: wrap;
}

.brand__form {
    width: 117px;
    height: 55px;
    margin-bottom: 50px;
    margin-right: 12px;
    padding-left: 20px;
}

.person__form {
    width: 117px;
    height: 55px;
    margin-bottom: 50px;
    margin-left: auto;
}


.size__form {
    width: 117px;
    height: 55px;
    margin-bottom: 50px;
    margin-right: 12px;
    padding-left: 20px;
}

.price__form {
    width: 117px;
    height: 55px;
    margin-bottom: 50px;
    margin-left: auto;
}

hr {
    width: 1px;
    height: 48px;
    border: 1px solid $primary;
    border-radius: 10px;
    margin: 11px auto 0 auto;
}

.line-1-container {
    margin-left: auto;
}

.line-2-container {
    display: none;
}

.line-3-container {
    margin-left: auto;
}

.select__text {
    color: $secondary;
    font-size: 16px;
    font-family: poppins;
    font-weight: 400;
    margin: 0 0 0 3px;
}

.select {
    position: relative;
    width: 100px;
    height: 20px;
    margin: 22px auto 0 0;

    &[data-state="active"] {
        .select__title {
            &::before {
                transform: translate(-3px, -50%) rotate(-45deg);
            }

            &::after {
                transform: translate(3px, -50%) rotate(45deg);
            }
        }

        .select__content {
            opacity: 1;
        }

        .select__label+.select__input+.select__label {
            max-height: 40px;
            border-top-width: 1px;
        }
    }
}

.select__title {
    display: flex;
    align-items: center;
    width: 90px;
    height: 100%;
    color: $dark;
    font-size: 18px;
    font-family: poppins;
    font-weight: 500;

    cursor: pointer;

    &::before,
    &::after {
        content: "";

        position: absolute;
        top: 50%;
        right: 16px;

        display: block;
        width: 10px;
        height: 2px;

        transition: all .3s ease-out;

        background-color: #333333;

        transform: translate(-3px, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(3px, -50%) rotate(-45deg);
    }


    &::before,
    &::after {
        background-color: $primary10;
    }
}


.select__content {
    position: absolute;
    top: 30px;
    left: 0;
    border-radius: 3px;
    box-shadow: 0px 1px 20px 5px rgba(26, 10, 3, 0.05);

    display: flex;
    flex-direction: column;
    width: calc(100% - 6px);

    background-color: #ffffff;

    transition: all .3s ease-out;

    opacity: 0;
    z-index: 8;
}

.select__input {
    display: none;

    &:checked+label {
        background-color: $primary10;
    }

    &:disabled+label {
        opacity: 0.6;
        pointer-events: none;
    }
}

.select__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    max-height: 0;
    padding-left: 18px;
    color: $dark;
    font-size: 18px;
    font-family: poppins;
    font-weight: 500;
    position: relative;
    z-index: -10;

    transition: all .2s ease-out;

    cursor: pointer;

    overflow: hidden;

    &:hover {
        background-color: $primary10  !important;

        color: #ffffff;
    }

    // &:first-of-type {
    //     border-top: 2px solid $primary;
    //     border-top-left-radius: 10px;
    //     border-top-right-radius: 10px;
    // }

    // &:last-of-type {
    //     border-bottom: 2px solid $primary;
    //     border-bottom-left-radius: 2px;
    //     border-bottom-right-radius: 2px;
    // }
}

.label__line::before {
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    border-top: 2px solid $primary;
    content: "";
    margin: 0 auto;
}

#brand__select {
    width: 122px;
    height: 25px;
    border: none;
    font-family: poppins;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    outline: none;
}

.brand-title {
    margin: 0;
}

#person__select {
    width: 122px;
    height: 25px;
    border: none;
    font-family: poppins;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    outline: none;
}

.person-title {
    margin: 0;
}

#size__select {
    width: 122px;
    height: 25px;
    border: none;
    font-family: poppins;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    outline: none;
}

.size-title {
    margin: 0;
}

#price__select {
    width: 122px;
    height: 25px;
    border: none;
    font-family: poppins;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    outline: none;
}

.price-title {
    margin: 0;
}

.medium {
    padding-left: 8px;
}

.woman {
    padding-left: 12px;
}





// select {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
// }





.section-video-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.section-video__text-container {
    width: fit-content;
    margin: 0 auto;
}

.section-video__name {
    color: $primary;
    font-size: 20px;
    font-weight: 600;
    font-family: source serif pro;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
}

.section-video__title {
    color: $dark;
    font-size: 44px;
    font-weight: 600;
    font-family: source serif pro;
    text-align: center;
    line-height: 57px;
    max-width: 340px;
    margin: 10px 0 20px 0;
}

.section-video__text {
    color: $secondary;
    font-size: 16px;
    font-weight: 400;
    font-family: poppins;
    text-align: center;
    margin: 0;
    max-width: 326px;
}

.section-video__img-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-video__img {
    position: relative;
    width: 100%;
}

.play-btn-container {
    position: absolute;
    margin-top: 9%;
    margin-right: 6%;
    z-index: 1;
}

.play-btn {
    padding: 18px 16px 16px 18px;
    border: none;
    border-radius: 100px;
    max-width: 100px;
    max-height: 100px;
    background: white;
    cursor: pointer;
}

.icon-play3 {
    font-size: 24px;
}

.section-feature-container {
    padding: 40px 20px;
}

.section-feature__name {
    color: $primary;
    font-size: 20px;
    font-family: source serif pro;
    font-weight: 600;
    letter-spacing: 5%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.section-feature__title {
    color: $dark;
    font-size: 44px;
    font-family: source serif pro;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.section-feature__card-1,
.section-feature__card-2,
.section-feature__card-3 {
    max-width: 350px;
    max-height: 420px;
    margin: 50px auto 0 auto;
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
    transition: .5s;

    &:hover {
        background: $primary10;
        box-shadow: 0 0 0;
    }
}

.card-1__img-container {
    background: #E7F0FC;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin: 0 auto;
}

.card-2__img-container {
    background: #EDDBE7;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin: 0 auto;
}

.card-3__img-container {
    background: #F6E9FD;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin: 0 auto;
}

.card-1__title,
.card-2__title,
.card-3__title {
    color: $dark;
    font-size: 22px;
    font-family: source serif pro;
    font-weight: 600;
}

.card-1__text,
.card-2__text,
.card-3__text {
    color: $secondary;
    font-size: 14px;
    font-family: poppins;
    font-weight: 400;
    line-height: 22px;
}

.card-1__more a,
.card-2__more a,
.card-3__more a {
    color: $primary;
    font-size: 16px;
    font-family: poppins;
    font-weight: 500;
    text-decoration: none;
}

.card-1__more i,
.card-2__more i,
.card-3__more i {
    color: $dark;
    font-size: 20px;
    position: absolute;
    margin-top: 3px;
}

.section-gallary-container {
    padding: 40px 20px;
}

.section-gallary__name {
    color: $primary;
    font-size: 20px;
    font-family: source serif pro;
    font-weight: 600;
    letter-spacing: 5%;
    margin: 0 0 13px 0;
    text-align: center;
}

.section-gallary__title {
    color: $dark;
    font-size: 44px;
    font-family: source serif pro;
    font-weight: 600;
    line-height: 57px;
    margin: 0;
    text-align: center;
}

.nav__title {
    color: $secondary;
    font-size: 20px;
    font-family: poppins;
    font-weight: 400;
    letter-spacing: 5%;
    margin: 0 30px 0 0;
}

.section-gallary__nav-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.section-gallary__nav {
    display: flex;
    gap: 30px;
    margin-right: auto;
}

.section-gallary__nav-link a {
    color: $secondary;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-decoration: none;
}

.section-gallary__arrows-container {
    display: none;
}

.arrow-left-container {
    width: 50px;
    height: 50px;
    background: $primary10;
    border-radius: 100px;
    border: none;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    transition: .3s;

    & i {
        font-size: 40px;
        position: absolute;
        top: 6px;
        left: 4px;
        transform: rotate(180deg);
    }

    &:hover {
        opacity: .8;
        box-shadow: 0 0 3px $primary10;
    }
}

.arrow-right-container {
    width: 50px;
    height: 50px;
    background: $primary10;
    border-radius: 100px;
    border: none;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
    transition: .3s;

    & i {
        font-size: 40px;
        position: absolute;
        top: 6px;
        left: 5px;
    }

    &:hover {
        opacity: .8;
        box-shadow: 0 0 3px $primary10;
    }
}

.section-gallary__main {
    margin-top: 40px;
    gap: 30px;
    display: flex;
    overflow-x: scroll;
}

.item__img img {
    border-radius: 12px;
}

.item__name {
    color: $dark;
    font-size: 22px;
    font-family: source serif pro;
    font-weight: 600;
    margin: 20px 0 0 0;
}

.item__size-container,
.item__price-container {
    display: flex;
    margin: 10px 0 0 0;
}

.size-title,
.price-title {
    color: $secondary;
    font-size: 16px;
    font-family: poppins;
    font-weight: 400;
}

.size-value,
.price-value {
    color: $secondary;
    font-size: 16px;
    font-family: poppins;
    font-weight: 500;
    margin: 0 0 0 10px;
}

.item__btn {
    margin-top: 10px;
}

.section-testimonials-container {
    padding: 40px 20px;
}

.section-testimonials__title {
    color: $dark;
    font-size: 44px;
    font-family: source serif pro;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.section-testimonials__content {
    margin-top: 40px;
}

.section-testimonials__img {
    max-width: 500px;
    margin: 0 auto;
}

.section-testimonials__img img {
    width: 100%;
}

.section-testimonials__main {
    max-width: 440px;
    margin: 40px auto 0 auto;
}

.content-head__img {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-testimonials__content-title {
    color: $dark;
    font-size: 22px;
    font-family: source serif pro;
    font-weight: 600;
    margin: 10px 0 15px 0;
}

.section-testimonials__text {
    color: $secondary;
    font-size: 14px;
    font-family: poppins;
    font-weight: 500;
    font-style: italic;
    line-height: 22px;
}

.section-testimonials__name {
    color: $dark;
    font-size: 18px;
    font-family: poppins;
    font-weight: 500;
    margin: 20px 0 10px 0;
}

.section-testimonials__person {
    color: $secondary;
    font-size: 14px;
    font-family: poppins;
    font-weight: 400;
    margin: 0;
}

.section-email-container {
    padding: 40px 20px 0 20px;
}

.section-email__img {
    max-width: 1000px;
    margin: 0 auto;
}

.section-email__img img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.section-email__main {
    padding: 20px;
    background: #F2F6FB;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -5px;
}

.section-email__title {
    color: $dark;
    font-size: 31px;
    font-family: source serif pro;
    font-weight: 600;
    margin: 20px 0 0 0;
}

.section-email__text {
    color: $secondary;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
    margin: 15px 0 30px 0;
}

.section-email__form {
    width: 100%;
}

.section-email__input {
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    border-left: 1px solid $secondary;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 12px 0 12px 10px;
    min-width: 190px;
    background: none;
    outline: none;
    position: relative;
    width: 80%;
}

.section-email__send-btn {
    color: white;
    font-size: 14px;
    font-family: poppins;
    font-weight: 500;
    letter-spacing: 0.03em;
    background: $primary;
    border: none;
    padding: 10px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    cursor: pointer;
    width: 15%;
    height: 41px;
    transition: .3s;

    &:hover {
        opacity: .8;
        box-shadow: 0 3px 10px $primary;
    }
}

.section-email__input::placeholder {
    color: $secondary;
    font-size: 14px;
    font-family: poppins;
    font-weight: 400;
}

.footer {
    background: #FEF7F4;
}

.footer-container {
    padding: 60px 20px 30px 20px;
}

.footer__grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.footer__items-wrapper {
    display: flex;
}

.item-3 {
    text-align: right;
    margin-left: auto;
}

.item-4 {
    margin: 0 auto;
}

.item-4-title {
    text-align: center;
}

.col-2 {
    grid-column: span 2;
}

.footer__address-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer__address a {
    color: $secondary;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
    text-decoration: none;
}

.footer__gmail a {
    color: $secondary;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
    text-decoration: none;
}

.footer__icons {
    margin-top: 10px;
    display: flex;
    gap: 25px;
}

.icon-facebook-wrapper a,
.icon-instagram-wrapper a,
.icon-twitter-wrapper a,
.icon-google-wrapper a {
    text-decoration: none;
}

.icon-instagram-wrapper {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    background: radial-gradient(#FAE100, #FADC04, #FBCE0E, #FCB720, #FE9838, #FF7950, #FF1C74, #8e32ff);
    position: relative;
}

.icon-instagram-gradient {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: linear-gradient(to top right, #FFDC80, #FFD87A, #FECB6A, #dd85f8, #cd57fc, #d145fc, #a311c0, #bd5aff);
    opacity: .5;
    position: absolute;
}

.icon-instagram-wrapper a {
    position: absolute;
    left: 4px;
}

.icon-twitter-wrapper {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    background: #00C3FF;
}

.icon-google-wrapper {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    background: #273B7A;
}

.footer__item-title {
    color: $dark;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 33px;
}

.footer__list {
    padding: 0;
}

.list-item {
    margin-top: 18px;
    list-style: none;
}

.list-item a {
    color: $secondary;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
    text-decoration: none;
}

.footer__contact-text {
    color: $secondary;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
    max-width: 250px;
}

.footer__form {
    min-width: 250px;
    margin-right: 24px;
}

.footer__send-btn {
    color: white;
    font-size: 14px;
    font-family: poppins;
    font-weight: 500;
    background: $primary;
    border: none;
    padding: 10px 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    cursor: pointer;
    height: 41px;
    transition: .3s;

    &:hover {
        opacity: .8;
        box-shadow: 0 3px 10px $primary;
    }
}

.footer__input {
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    border-left: 1px solid $secondary;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 12px 0 12px 10px;
    background: none;
    outline: none;
}

.footer__input::placeholder {
    color: $secondary;
    font-size: 14px;
    font-family: poppins;
    font-weight: 400;
}

.footer__line {
    border: 1px solid #A6A4A4;
    width: 100%;
    height: 2px;
    margin: 40px 0 30px 0;
    opacity: 50%;
}

.footer__text-wrapper {
    text-align: center;
}

.footer__text {
    color: $secondary;
    font-size: 16px;
    font-family: poppins;
    font-weight: 500;
}