@media (min-width: 400px) {
    .header__buy-card {
        padding: 30px;
    }
}

@media (min-width: 450px) {
    .menu__item {
        margin-left: 30px;
    }

    .header__img {
        width: 400px;
        height: min-content;
    }

    .header__img-shadow {
        width: 380px;
        height: 75px;
        margin-top: 280px;
    }

    .header__buy-card {
        padding: 30px 55px;
    }

    .play-btn {
        padding: 26px 24px 24px 26px;
    }

    .icon-play3 {
        font-size: 36px;
    }
}

@media (min-width: 527px) {

    .brand__form,
    .size__form {
        width: 140px;
    }

    .person__form,
    .price__form {
        width: 140px;
        padding-left: 32px;
    }

    .section-email__input {
        width: 83%;
    }

    .footer__items-wrapper {
        display: block;
    }

    .footer__grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-2 {
        text-align: right;
    }

    .item-3 {
        text-align: left;
        margin-left: 0;
    }

    .item-4 {
        margin: 0 0 0 -50px;
    }

    .item-4-title {
        text-align: left;
    }

    .col-2 {
        grid-column: span 1;
    }
}

@media (min-width: 552px) {

    .brand__form,
    .size__form {
        width: 160px;
    }

    .person__form,
    .price__form {
        width: 160px;
        padding-left: 52px;
    }

    .item-4 {
        margin: 0 0 0 -30px;
    }
}

@media (min-width: 586px) {
    .line-2-container {
        display: inline-block;
        margin-left: auto;
    }

    .line-3-container {
        display: none;
    }

    .brand__form {
        width: 120px;
    }

    .size__form {
        width: 120px;
        padding-left: 32px;
    }

    .person__form {
        width: 120px;
        padding-left: 24px;
        margin-right: 44px;
    }

    .price__form {
        width: 120px;
        padding-left: 0;
        margin: 0;
    }

    .card__btn-buy {
        margin: 0 0 0 auto;
    }

    .item-4 {
        margin: 0 0 0 auto;
    }
}

@media (min-width: 600px) {
    .menu__item {
        margin-left: 50px;
    }
}

@media (min-width: 634px) {
    .header__buy-card {
        padding: 30px 50px;
    }

    .brand__form {
        width: 104px;
    }

    .size__form {
        padding-left: 32px;
        padding-right: 16px;
    }

    .section-gallary__name {
        text-align: left;
    }

    .section-gallary__title {
        text-align: left;
    }

    .section-gallary__arrows-container {
        display: flex;
    }

    .section-gallary__nav-container {
        overflow-x: hidden;
    }

    .section-email-container {
        display: flex;
    }

    .section-email__img {
        margin: 0 0 0 auto;
    }

    .section-email__img img {
        border-top-right-radius: 0;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        height: 100%;
    }

    .section-email__main {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 0;
        margin: 0 auto 0 0;
        width: 500px;
    }

    .section-email__form {
        display: flex;
        margin-top: auto;
    }

    .section-email__input {
        flex-grow: 1;
    }

    .section-email__send-btn {
        position: relative;
        width: 100px;
    }
}

@media (min-width: 676px) {
    .brand__form {
        width: 140px;
    }

    .person__form {
        width: 140px;
        margin-left: 0;
        padding-left: 32px;
    }

    .size__form {
        width: 140px;
    }

    .price__form {
        width: 140px;
    }

    .play-btn {
        padding: 28px 40px 40px 28px;
    }

    .icon-play3 {
        font-size: 48px;
    }

    .footer__grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .item-2 {
        text-align: left;
        margin: 0 auto;
    }

    .item-3 {
        margin: 0 auto;
    }

    .item-4 {
        max-width: 280px;
        margin: 0 auto;
    }

    .item-4-title {
        text-align: center;
    }

    .col-3 {
        grid-column: span 3;
    }
}

@media (min-width: 740px) {
    .menu__item {
        margin-left: 80px;
    }

    .line-3-container {
        display: inline-block;
    }

    .brand__form {
        width: 120px;
        padding-left: 16px;
    }

    .person__form {
        width: 120px;
        margin-left: 0;
        padding-left: 16px;
        margin-right: 12px;
    }

    .size__form {
        width: 120px;
        padding-left: 16px;
        padding-right: 0;
    }

    .price__form {
        width: 120px;
        padding-left: 16px;
        margin-bottom: 50px;
    }

    .card__btn-buy {
        margin: 0 auto 0 auto;
    }
}

@media (min-width: 763px) {
    .brand__form {
        width: 135px;
    }

    .size__form {
        width: 135px;
    }

    .person__form {
        width: 135px;
    }

    .price__form {
        width: 135px;
    }
}

@media (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }

    .nav {
        display: flex;
        margin: 0 auto 0 100px;
    }

    .btn__buy-container {
        margin: 0;
    }
}

@media (min-width:800px) {
    .section-feature__cards-container {
        display: flex;
        flex-wrap: wrap;
    }

    .section-feature__card-1 {
        margin: 50px 15px 0 auto;
    }

    .section-feature__card-2 {
        margin: 50px auto 0 15px;
    }

    .section-feature__card-3 {
        margin: 50px auto 0 auto;
    }
}

@media (min-width: 830px) {
    .header__main {
        display: flex;
    }

    .header__img-border-container {
        margin-left: auto;
        margin-top: -40px;
    }

    .header__title {
        text-align: start;
    }

    .header__text {
        text-align: start;
        margin: 0 0 50px 0;
    }

    .header__img {
        width: 330px;
    }

    .header__img-shadow {
        width: 310px;
        height: 55px;
        margin-top: 235px;
    }

    .header__arrow-container {
        display: inline-block;
        margin: auto 0;
    }

    .card__btn-buy {
        margin-top: 4px;
    }

    .section-video-container {
        display: flex;
    }

    .section-video__name {
        text-align: left;
    }

    .section-video__title {
        text-align: left;
    }

    .section-video__text {
        text-align: left;
    }

    .section-video__text-container {
        min-width: 340px;
        margin-top: 100px;
    }

    .section-video__img-container {
        margin-top: 60px;
        margin-left: 50px;
    }

    .play-btn-container {
        margin-left: 5%;
        margin-top: 6%;
    }

    .play-btn {
        padding: 24px 22px 22px 24px;
    }

    .icon-play3 {
        font-size: 38px;
    }
}

@media (min-width: 859px) {
    .card__btn-buy {
        margin-left: 10px;
    }

    .header__buy-card {
        padding-bottom: 5px;
    }

    .header__form {
        height: 70px;
    }

    .brand__form {
        width: 120px;
        margin-right: 20px;
        padding-left: 10px;
    }

    .size__form {
        width: 120px;
        margin-right: 20px;
        padding-left: 10px;
    }

    .person__form {
        width: 120px;
        margin-right: 20px;
        padding-left: 10px;
    }

    .price__form {
        width: 120px;
        margin-right: 20px;
        padding-left: 10px;
    }
}

@media (min-width: 865px) {
    .card__btn-buy {
        margin-left: 20px;
    }

    .header__buy-card {
        padding-bottom: 5px;
    }
}

@media (min-width: 890px) {
    .header__img {
        width: 380px;
    }

    .header__img-shadow {
        width: 360px;
        height: 60px;
        margin-top: 275px;
    }

    .brand__form {
        margin-right: 20px;
        padding-left: 12px;
    }

    .size__form {
        margin-right: 20px;
        padding-left: 12px;
    }

    .person__form {
        margin-right: 20px;
        padding-left: 12px;
    }

    .price__form {
        margin-right: 20px;
        padding-left: 12px;
    }

    .card__btn-buy {
        margin-left: 40px;
    }
}

@media (min-width: 971px) {
    .header__text-container {
        margin-top: 70px
    }

    .header__img {
        width: 470px;
    }

    .header__img-shadow {
        width: 450px;
        height: 75px;
        margin-top: 340px;
    }

    .play-btn {
        padding: 28px 58px 58px 28px;
    }

    .icon-play3 {
        font-size: 48px;
    }

    .section-email__form {
        margin-top: 55px;
    }
}

@media (min-width: 1022px) {
    .header__arrow-container {
        padding-left: 50px;
    }

    .header__img {
        margin-right: -30px;
    }

    .section-video__text-container {
        margin: 100px auto 0 0;
    }

    .section-video-container {
        padding: 40px 100px;
    }

    .section-testimonials__content {
        display: flex;
    }

    .section-testimonials__main {
        margin-top: 0;
    }

    .section-email__main {
        padding: 50px;
    }

    .section-email__title {
        margin-top: 0;
    }

    .footer__grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .col-3 {
        grid-column: span 1;
    }

    .item-4-title {
        text-align: left;
    }

    .footer__grid-container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .footer__item-title {
        margin-top: 10px;
    }
}

@media (min-width: 1090px) {
    .section-video__img-container {
        max-width: 550px;
    }
}

@media (min-width: 1120px) {
    .section-feature__card-1 {
        margin-right: 30px;
    }

    .section-feature__card-2 {
        margin-left: 30px;
    }
}

@media (min-width: 1150px) {

    .section-feature__card-1 {
        margin: 50px 15px 0 auto;
    }

    .section-feature__card-2 {
        margin: 50px 15px 0 15px;
    }

    .section-feature__card-3 {
        margin: 50px auto 0 15px;
    }
}

@media (min-width:1180px) {
    .section-gallary__main {
        overflow-x: hidden;
        justify-content: center;
    }

    .section-gallary__text {
        max-width: 1140px;
        margin: 0 auto;
    }
}