$primary: #EE5514;
$secondary: #5E4F48;
$dark: #190A03;
$light: #FEF8F6;

$btn-buy-padding: 15px 20px;
$btn-buy-radius: 5px;
$btn-text-color: #FFFFFF;
$btn-border: none;
$btn-font: poppins;
$btn-weight: 500;