$primary: #EE5514;
$secondary: #5E4F48;
$dark: #190A03;
$light: #FEF8F6;
$primary10: #F8BBA1;

$btn-buy-padding: 15px 30px;
$btn-buy-radius: 5px;
$btn-color: #FFFFFF;
$btn-font: poppins;
$btn-weight: 500;